.App {
  background-color: #282c34;
}

.body{
  text-align: center;
  align-items: center;
}

.button {
  /* padding: 6px; */
  margin: 5px;
}

.link-tag{
  color:blue;
  margin-top: 100px;
  margin-bottom: 0px;
}

input[type='text'] {
  margin: 3px;
}

.register {
  align-items: center;
  text-align: left;
}

.logo{
  align-items: center;
  text-align: center;
}

.directory-lists{
  text-align: center;
}

.delete{
  color: red;
}